<?xml version="1.0"?>
<config>
    <modules>
        <Scriptlodge_AdminScript>
            <version>0.1.0</version>
        </Scriptlodge_AdminScript>
    </modules>
    <global>
        <resources>
            <adminscript_setup>
                <setup>
                    <module>Scriptlodge_AdminScript</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </adminscript_setup>
        </resources>
    </global>
</config>